body {
    margin: 0;
}

.wrap {
    margin: 80px auto;
    width: 340px;
    height: 151px;
}

.wrap h2 {
    text-align: center;
    color: red;
}

.wrap .hour,
.wrap .minute,
.wrap .second {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 100px;
    height: 100px;
    color: #fff;
    font-size: 60px;
    background-color: #000;
}

.wrap .hour,
.wrap .minute {
    margin-right: 20px;
}