body {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

.wrap {
    position: fixed;
    top: 100px;
    right: 100px;
    width: 180px;
    height: 240px;
    overflow: hidden;
}

.wrap span {
    display: flex;
    position: absolute;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    right: 0;
    z-index: 999;
    width: 40px;
    height: 40px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: aqua;
}

.wrap ul {
    position: absolute;
    top: 0;
    left: 180px;
    width: 180px;
    height: 240px;
}

.wrap ul li {
    position: absolute;
    left: 0;
    width: 180px;
    height: 40px;
    background-color: pink;
}

.wrap ul li a {
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 100%;
}