body {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
}

section {
    position: absolute;
    top: 30px;
    left: 12px;
    width: 350px;
    height: 138px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
}

section ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 700%;
    height: 100%;
    margin-left: -100%;
}

section ul li {
    float: left;
    width: 350px;
    height: 100%;
}

section ol {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    background: rgba(255, 255, 255, .6);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

section ol li {
    float: left;
    margin-left: 8px;
    width: 10px;
    height: 10px;
    transition: all .5s;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background: #fff;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

section ol li:first-child {
    margin-left: 0;
}

section ol .current {
    width: 20px;
    background: #f00;
}