body {
    margin: 0;
}

a {
    text-decoration: none;
    font-size: 14px;
    color: #333;
}

td a {
    margin-left: 87px;
}

table {
    margin: 80px auto;
    width: 250px;
    height: 240px;
    border-spacing: 0;
    border-collapse: collapse;
    background-color: rgb(154, 212, 235);
}

th {
    background-color: rgb(19, 131, 175);
}

th,
td {
    position: relative;
    padding: 0;
}

input {
    position: absolute;
    top: 10px;
    left: 10px;
}

th,
td {
    border: 1px solid #333;
}

.bg {
    background-color: rgb(78, 188, 231);
}