body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	align-items: center;
	width: 100vw;
	height: 100vh;
	user-select: none;
	background-color: #000;
}

a {
	position: relative;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	padding: 16px 30px;
	letter-spacing: 2px;
	color: #fff;
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	-ms-border-radius: 40px;
	-o-border-radius: 40px;
	overflow: hidden;
	background: linear-gradient(90deg, #0162c8, #55e7fc);
}

a:nth-child(2) {
	margin-top: 20px;
	background: linear-gradient(90deg, #755bea, #ff72c0);
}

a span {
	position: absolute;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	opacity: 0.5;
	background: linear-gradient(#fff, transparent);
	animation: move1 0.7s ease;
	-webkit-animation: move1 0.7s ease;
}

@keyframes move1 {
	0% {
		width: 0;
		height: 0;
	}
	100% {
		width: 200px;
		height: 200px;
	}
}
