body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
}

.father {
    position: relative;
    margin: 100px auto;
    width: 180px;
    height: 40px;
    overflow: hidden;
}

.father a {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 100%;
    background-color: aqua;
}

.son {
    position: absolute;
    top: 0;
    left: 150px;
    z-index: -99;
    width: 180px;
    height: 40px;
}

.son a {
    justify-content: flex-start;
    width: 180px;
}