ul {
    margin: 0;
    padding: 0;
    margin: 200px auto;
    list-style-type: none;
    width: 600px;
    height: 100px;
    border: 1px solid black;
}

li {
    float: left;
    margin: 25px 0 0 40px;
    padding: 15px 20px;
    border: 1px solid greenyellow;
    border-radius: 50%;
    cursor: pointer;
    transition: li .2s;
}

ul li:hover {
    transform: scale(1.1);
}